* {
    margin:0;
}

body {
    background-color: black;
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* main menu */
.main-menu {
    width: 90%;
    height: 140px;
    font-size: 22px;
    margin-left: 4em;
}

.logo {
    height: 100px;
    width: auto;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}

.main-menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-menu li {
    list-style-type: none;
    margin-top: 30px;
    margin-right: 20%;
}

.main-menu a {
    text-decoration: none;
    color: white;
}

.main-menu a:hover {
    color: #EAE2B7;
}

/* hero image */
.hero-image {
    background-color: white;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.hero-image img {
    width: 100%;
    height: 400px;
    filter: contrast(130%);
}

.hero-image-button {
    background-color: #D62828;
    color: white;
    text-decoration: none;
    width: 40%;
    height: 8%;
    text-align: center;
    border-radius: 25px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 0px 0px 20px 10px black;
}

.hero-image-button:hover, 
.more-news-button:hover {
    cursor: pointer;
    background-color:#EAE2B7;
    color: black;
}

.hero-image-button a:hover {
    color: black;
}


/* information sektionen */
.info-section {
    max-width: 100%;
    height: auto;
    margin-bottom: 15%;
    background-color: white;
    color: black;
    padding-bottom: 3em;
    padding-top: 0.1em;
    margin-top: 2em;
    box-shadow: 0px 0px 20px 10px rgb(44, 44, 44);
    border-radius: 20px;;
}


.info-section article {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.info-section h1 {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.info-section h2 {
    margin-top: 2em;
    margin-bottom: 1em;
}

.info-section h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}   

.info-section a {
    color: #D62828;
}


.info-section a:visited {
    color: #003049;
}

.info-section a:hover {
    color:#F77F00;
}


/* nyhetspuffar på startsidan */
.news-section {
    align-items: center;
    width: 100%;
    height: auto;
}

.puff-image {
    width: 100%;
    height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.placeholder-image {
    background-color: orange;
    width: 100%;
    height: 15em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.read-more-button-homepage {
    margin-left: 1em;
    padding-bottom: 7%;
    text-decoration: underline;
}

.news-section h2 {
    text-align: center;
}

.news-section article {
    background-color: white;
    color: black;
    width: 50%;
    height: 23em;
    margin-top: 3em;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px 10px rgb(44, 44, 44);
}

.news-section h3 {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.news-puff {
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.news-section a {
    color: black;
    text-decoration: none;
}

.more-news-button {
    background-color: #D62828;
    color: white;
    width: 10em;
    height: 3em;
    text-align: center;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
}

.more-news-button:visited {
 color: white;
}

.more-news-button:hover {
 color: black;
}



/*--------------------------------------------------------------------------------------------*/
/* FOOTER */
.border{
    background-color: white;
    width: 90%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

footer {
    display: flex;
    flex-wrap: wrap;;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 1.5em;
}

.footer-headline {
    margin-bottom: 0.4em;
    margin-top: 1em;
}

footer div {
    margin-left: 4%;
    margin-right: 4%;
}

footer a {
    color: #F77F00;
}

footer a:visited {
    color: #FCBF49;
}

footer a:hover {
    color: #EAE2B7;
}



/*--------------------------------------------------------------------------------------------*/
/* NYHETSSIDA */
.news {
    background-color: white;
    color: black;
    padding: 3em;
    margin-bottom: 10%;
    box-shadow: 0px 0px 20px 10px rgb(44, 44, 44);
    border-radius: 20px;
    max-width: 100%;
}

.news h1 {
    margin-bottom: 0.7em;
}

.news-page-section {
    width: 100%;
    height: auto;
}

.news-page-section h2 {
    text-align: center;
}

.news-page-section article {
    background-color: white;
    color: black;
    max-width: 70%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 4em;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgb(44, 44, 44);
}

.post-image {
    width: 100%;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.news-page-section h3 {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.news-page-section p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 3%;;

}

.read-more-button {
    padding-bottom: 7%;
    text-decoration: underline;
}




/*--------------------------------------------------------------------------------------------*/
/* OM SIDAN */
.about-section {
    background-color: white;
    color: black;
    padding: 3em;
    margin-bottom: 10%;
    box-shadow: 0px 0px 20px 10px rgb(44, 44, 44);
    border-radius: 20px;
}

.about-section h2 {
    margin-bottom: 0.5em;
    margin-top: 2em;
}

 .about-section p {
    margin-top: 1em;
}

.staff-section h2 {
    text-align: center;
    margin-bottom: 2em;
}

.staff-section article{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    max-width: 100%;
    height: auto;
}

.portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1em;
    box-shadow: 0px 0px 20px 10px rgb(44, 44, 44);
}


.form-section {
    padding-left: 3em;
    margin-top: 9em;
}

.form-section h2, 
.form-section p {
    margin-bottom: 0.5em;
}

form {
    margin-top: 1.5em;
}

form input, 
form textarea {
    border: none;
    border-radius: 5px;
    width: 60%;
    margin-top: 1%;
    margin-bottom: 3%;
    font-weight: 600;
}

form label {
    font-weight: 600;
}

form input {
    height: 2em;
}

form textarea {
    height: 6em;
}

form button {
    background-color: #D62828;
    color: white;
    border: none;
    width: 10em;
    height: 3em;
    text-align: center;
    border-radius: 25px;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
}

form button:hover {
    background-color: #EAE2B7;
    color: black;
    cursor: pointer;
}




/*--------------------------------------------------------------------------------------------*/
/* SPELUTBUD */
.games-section {
    width: 100%;
    height: auto;
}

.games-section h2 {
    margin-bottom: 0.5em;
}

.our-games-section {
    background-color: white;
    color: black;
    padding: 3em;
    margin-bottom: 10%;
    box-shadow: 0px 0px 20px 10px rgb(44, 44, 44);
    border-radius: 20px;
    max-width: 100%;
}

.our-games-section h1 {
    margin-bottom: 0.7em;
}

.our-games-section p {
    margin-bottom: 0.7em;
}

.games-section {
    max-width: 100%;
}

.games-section h2 {
    text-align: center;
    margin-bottom: 2em;
}

.games-section article {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    width: 80%;
}

.game-example {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 5%;
    box-shadow: 0px 0px 20px 10px rgb(44, 44, 44);
}

.games-section a {
    color: #F77F00;
}

.games-section a:visited {
    color:#003049;
}

.games-section a:hover {
    color: #EAE2B7;
}

.games-info-div {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 5%;
    max-width: 100%;
    height: auto;
    margin-bottom: 4em;
    box-shadow: 0px 0px 20px 10px rgb(44, 44, 44);
}

.games-info-div h3 {
    margin-bottom: 0.5em;
}



/* tablet */
@media (min-width: 600px) {

    /* huvudmeny */
    .main-menu {
       width: 70%;
       margin-left: 12em;
    }

    /* hero image */
    .hero-image-button {
        width: 30%;
    }

    /* STARTSIDAN */
    .info-section article {
        max-width: 60%;
    }

    .news-section article {
        width: 40%;
        height: 27em;
    }

    .puff-image {
        height:230px;
    }

    .news-section h3, 
    .news-section p {
        padding: 2%;
    }

    .news-section p {
        margin-top: 0em;
    }

    .read-more-button-homepage {
        margin-left: 5%;
    }


    /*SPELUTBUD-sidan*/
    .our-games-section div {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .games-section article {
        width: 60%;
    }

    .games-info-div div {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }


    /* NYHETER-sidan */
    .news div {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .news-page-section article {
        max-width: 50%;
    }


    /* OM OSS-sidan */
    .about-section article, 
    .about-section h1 {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .form-section {
        margin-left: 3%;
    }

}

/* desktop */
@media (min-width: 1024px) {

    /* huvudmeny */ 
    .main-menu {
        width: 90%;
        height: 100px;
        font-size: 24px;
    }

    .logo {
        height: 95px;
        margin-top: 3px;
    }

    .main-menu ul {
        display: flex;
        justify-content: right;
        flex-wrap: nowrap;
        margin-right: 0em;
    }

    .main-menu li {
        margin-top: 35px;
        margin-right: 15%;;
    }

    /* hero-image */
    .hero-image {
        height: 400px;
     }
    .hero-image img {
        height: 400px;
        object-fit: cover;
    }

    .hero-image-button {
        width: 20%;
    }


    /*  STARTSIDAN */
    .info-section {
        margin-bottom: 8em;
    }
    .info-section article {
        max-width: 50%;
    }

    .news-section {
        margin-top: 0;
    }

    .news-section article {
        width: 30%;
        height: 32em;
    }

    .puff-image {
        height: 300px;
    }

    .read-more-button-homepage {
        margin-left: 3%;
    }

    .news-section h3, 
    .news-section p {
        padding-left: 5%;
        padding-right: 5%;
    }


    /* SPELUTBUD-sidan */
    .our-games-section div {
        width: 50%;
        margin-bottom: 0em;
    }

    .games-section article {
        width: 40%;
        margin-top: 0em;
    }

    .games-info-div div {
        width: 50%;
    }


    /* NYHETER-sidan */
    .news div {
        width: 50%;
        margin-bottom: 0;
    }

    .news-page-section article {
        margin-top: 5em;
        width: 40%;
        height: 39em;
    }

    .news-page-section h2 {
        margin-top: 0;
    }

    .post-image {
        height: 420px;
    }

    /* OM OSS-sidan */
    .about-section article, 
    .about-section h1 {
        width: 50%;
    }

    .about-section h1  {
        margin-bottom: 1em;
    }

    .staff-section {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .staff-section h2 {
        margin-top: 0;
        margin-bottom: 4em;
    }

    .staff-flexbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0em;
    }

    .staff-flexbox article {
        flex: 0 0 30%;
    }

    .form-section {
        width: 60%;
        margin: 9em auto 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    form, 
    .form-section h2,
    .form-section p {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    form input, 
    form textarea {
        width: 100%;
        margin-bottom: 1%;
        
    }

    form input {
        height: 3em;
    }

    form textarea {
        height: 8em;
    }


    /* FOOTER */
    footer  {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}